<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selected</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    
    <header>
        <h2>Best Books!</h2>

    </header>

    <main>
        <div class="div1">
            <p>Search Results</p>
        </div>
    <div>
            <div class="results">
           <img src="<%= books.img %>" alt="">
           <h1> <%= books.title %> </h1>
           <h2> <%= books.author %> </h2>

           <form action="/books/<%= books.id %>" method="POST">
               <input type="hidden" name="title" value="<%= books.title %>">
               <input type="hidden" name="author" value="<%= books.author %>">
               <input type="hidden" name="img" value="<%= books.img %>">
               <input type="hidden" name="description" value="<%= books.description %>">
               <input type="hidden" name="ISBN" value="<%= books.ISBN %>">
               <input type="hidden" name="categories" value="<%= books.categories %>">

               <input type="submit" value="view details" class="select">
           </form>

        </div>
    </div>
</main>

<footer>
    
</footer>
</body>
</html>